.backdrop {
    text-align: center;
    background-image: linear-gradient(to bottom, #ffffff 0%, #b7dab3 100%);;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.buttons {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.space {
    padding: 1.5vh;
}

.backdrop h1 {
    color: #008000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vw;

}

.backdrop h3 {
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-size: calc((2vw + 3vh)/2);
    margin: 0px;
}

.buttons button {
    color: green;
    background-color: white;
    font-size: small ;
    width: 8vw;
    min-width: 170px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1vh;
    font-size: calc((1vw + 2vh)/2);
    font-weight: bold;
}

button:hover {
    background-color: rgb(219, 217, 217);
}